{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Your Cart</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Name</th>
                <th>Price per product</th>
                <th>Total price for this product</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% for id in app.session.get('cart') %}
                {% if id[0] == product.id %}
                    <tr>
                        <td>{{ id[1] }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ id[1] * product.price }}</td>
                        <td>
                            <p>No actions here... yet</p>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
